/*主要颜色等级*/
$orange-for-img: #f7ab00 !default;
$orange-for-font: #f78600 !default;
$yellow-for-font: #feec5b !default;
$blue-for-img: #8fa7b3 !default;
$blue-for-font: #8fa7b3 !default;
$blue-for-font-dark: #5986b3 !default;

$disabled-clr: #ccc !default;

/*字体颜色等级*/
$primary-fc: #333 !default;
$secondary-fc: #666 !default;
$third-fc: #999 !default;
$fourth-fc: #ccc !default;

/*Border颜色等级*/
$border-color-light: #e6e6e6;

/*body最大宽度*/
$max-width: 750px !default;

/*首页底部切换tab高度*/
$tab-height: 100px !default;